@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,900;1,300&family=Poppins:wght@300&display=swap');

:root {
    ---background-color: #191E29; /* fundo do Body */
    ---content-image-color: #1D2332; /* Fundo da imagem */

    ---primary-color: #018DFE; 
    ---primary-color-hover: #00d0ff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.box {
    box-shadow: 0 0 10px #0c1220cc;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #191E29;
}

.container-default {
    width: 80%;
    height: 80vh;
    display: flex;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D2332;
    padding: 1rem;
    border-radius: 5% 0 0 5%;
    box-shadow: 9px 0px 10px #0c1220cc;
}

.form-image img {
    transition: 0.3s;
    width: 39rem;
}

.title span {
    color: var(---primary-color);
}

.title img {
    margin-bottom: 1rem;
}

.form {
    transition: 0.4s;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(---content-image-color);
    padding: 3rem;
    border-radius: 0 5% 5% 0;
    box-shadow: 9px 0 10px #0c1220cc;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    color: #fff;
    transition: 0.3s;
    border: none;
    background-color: var(---primary-color);
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {
    background-color: var(---primary-color-hover);
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: var(---primary-color);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    color: #fff;
    background: #2E374E;
    margin: 0.6rem 0;
    width: 18rem;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid var(---primary-color);
}

.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #ffffffc0;
}

.input-box input::placeholder {
    color: #ffffffbe;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #ffffffc0;
}

.continue-button button {
    transition: 0.3s;
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: var(---primary-color);
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer; color: #fff;
}

.continue-button button:hover {
    background-color: var(---primary-color-hover);
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

#profileDisplay {
    display: block;
    width: 25%;
    border: 1px solid #2e374e;
    margin: 10px auto;
    border-radius: 50%;
    cursor: pointer;
}

.avatar-icons {
    background: #191e29;
    border-radius: 50%;
    transition: .2s;
    padding: 0.25rem;
    max-width: 100%;
    height: auto;
  }
  
  .avatar-icons:hover {
    transition: .2s;
    border: 2px solid #007bff;
    box-shadow: 0 5px 20px #007bff91;
  }

  .button-default {
    transition: .2s;
    background-color: var(---primary-color);
    border: 1px solid var(---primary-color);
  }

  .button-default:hover {
    transition: .2s;
    background-color: var(---primary-color-hover);
    border: 1px solid var(---primary-color-hover);
  }

  .primary-bg {
    background-color: var(---background-color);
    border: none;
    color: #cecece;
    text-transform: uppercase;
  }

  .secundary-bg {
    background-color: var(---content-image-color);
  }

  .align-itens {
    display: flex;
    justify-content: center;
  }

/* Media Query */

@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container-default {
        transition: 0.4s;
        width: 50%;
    }
    .form {
        transition: 0.4s;
        width: 100%;
        border-radius: 5%;
    }
}

@media screen and (max-width: 1530px) {
    .form-image img {
        transition: 0.3s;
        width: 30rem;
    }
}

@media screen and (max-width: 1064px) {
    .container-default {
        transition: 0.4s;
        width: 90%;
        height: auto;
    }
    .input-group {
        transition: 0.4s;
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        transition: 0.4s;
        margin-top: 2rem;
    }
    .gender-group {
        transition: 0.4s;
        flex-direction: column;
    }
    .gender-title h6 {
        transition: 0.4s;
        margin: 0;
    }
    .gender-input {
        transition: 0.4s;
        margin-top: 0.5rem;
    }
    .form-header h1 {
        font-size: 18px;
    }
    .input-box input {
        margin: 0.6rem 10px;
    }
}